{% extends 'base.html.twig' %}

{% block title %}
    Anthony KWAN CHUNG - Photographies
{% endblock %}

{% block body %}
{% for photo in photos %}
<div class="col-md-12 text-center">
    <img src="{{ photo.image }}" class="img-fluid">
</div>
{% endfor %}
{% endblock %}