{% extends 'base.html.twig' %}

{% block title %}Hop Pop Hop
    {% endblock %}

{% block body %}
<h1 class="text-center">Festival Hop Pop Hop</h1>
	<div class="d-flex row m-sm-4">
    	{% for photo in photos %}
                <div class="col-md-12 col-lg-4">
                    <img class="img-fluid" src="{{ photo.image }}" alt="{{ photo.title }}">
                    <p>{{ photo.title }} - {{ photo.date|date("Y")}}</p>		
				</div>			
        {% endfor %}
	</div>
{% endblock %}
