{% extends 'base.html.twig' %}

{% block body %}
   <h1>{{ website }} index</h1>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, vitae nulla. Doloribus sunt quia rem, ullam fuga debitis nam numquam assumenda vitae nemo omnis consequuntur et commodi modi fugiat necessitatibus?</p>
{% endblock %}