@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Raleway&display=swap');

$primary-text: 'Be Vietnam Pro', sans-serif;
$secondary-text: 'Raleway', sans-serif;

@mixin headings {
    h1, h2, h3, h4, h5, h6 {
      @content;
    }
  }
  @include headings {
    color: blue;
    font-family: $primary-text;
  }

p {
    font-family: $secondary-text;
}