@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Be+Vietnam+Pro:wght@300&display=swap');

$primary-text: 'Be Vietnam Pro', sans-serif;
$secondary-text: 'Abel', sans-serif;;
$main-color: #2c3e50;
$background-color: #f8f9f9; 

@mixin headings {
    h1, h2, h3, h4, h5, h6 {
      @content;
    }
  }
  @include headings {
    color:$main-color#2c3e50;
    font-family: $primary-text;
  }

p {
    font-family: $secondary-text;
}

body {
  background-color: $background-color;
}

a:hover {
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🦖</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

img {
  min-height: 220px;
}

@include media-breakpoint-up(md) {
  p {
    font-size: 2.4rem;
  }
  a {
    font-size: 2rem !important;
  }
}

@include media-breakpoint-up(lg) {
  p {
    font-size: 1.2rem;
  }
}